cloudscraper
beautifulsoup4
lxml
# OBS: If using pandas >2.1, then make sure to use pyarrow >12, otherwise you will get a "FutureWarning" from pandas.
pandas
pyarrow
matplotlib
# Note: Seaborn version 0.12.2 produces a bunch of FutureWarnings. Consider installing 0.13 from pypi.
# Sigh. Conda has so many bugs right now, I can't uninstall seaborn and I can't update conda. 😂
seaborn
